/*************************************************
    $   Footer
*************************************************/

.footer {
	border-top: 1px dotted rgba(0,0,0,0.2);
	background: #E0DED9;
    padding: 0 0 20px 1em;
    clear : both;
    font-size : 1.2em;
 

    ul {
        padding : 0;

        float : left;

        list-style-type:none;

 /**       color : #444; **/
 		text-shadow: 0 1px rgba(255,255,255,0.5);
        font-weight : bold;

        li {
            display : inline-block;
            margin:0 10px 0 0;

            vertical-align: top;

            a {
                color : inherit;
            }
        }
        
        ul {
            margin-top : 0.5em;
            
            float : none;
            
            font-size : 0.8em;
            font-weight : normal;
            
            li {
                display : list-item;
                margin:0;
            }
        }
    }
}
